body {
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    background-color:midnightblue

}

h1 {
    color:slateblue
}

h2 {
    color: blanchedalmond;
}

h3 {
    color: blanchedalmond;
}

table {
    color: blanchedalmond;
}

a {
    color: aliceblue;
}

img{
    width: 450px;
    border: radius 16px; color: black;

}