 body {
     font-family: Arial, Helvetica, sans-serif;
     background-color:rebeccapurple;
 }

 h1 {
     color:dodgerblue;
 }

 h2 {
     color: blanchedalmond;
 }

 h3 {
     color: blanchedalmond;
 }

 table {
     color: blanchedalmond;
 }

 a {
     color:aliceblue;
 }